---
layout: contents
title: Android Things
description: Cool things in Android.
permalink: android/
---

<!-- {% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %} -->

	 <div class="page-heading">
		 <h1>{{ page.title }}</h1>
		 <div class="page-description">
			 {{ page.description }}
		 </div>
	 </div>

<ul class="posts">
  {% for post in site.posts %}

		{% if post.categories[0] == "android" %}
    {% unless post.next %}
			<div class="year-heading">
      	<h3>{{ post.date | date: '%Y' }}</h3>
		</div>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
				<div class="year-heading">
        	<h3>{{ post.date | date: '%Y' }}</h3>
			 </div>
      {% endif %}
    {% endunless %}

    <div class="post-details">
			<h2>
				<a href="{{ post.url }}">{{ post.title }}</a>
				<span class="post-date">
				{{ post.date | date: '%B %d, %Y' }}
			</span>
		 </h2>
		 <div class="post-description">
			 {{ post.description }}
		 </div>
		</div>
		{% endif %}
  {% endfor %}
</ul>

	  <!-- <ul class="posts">
	    {% for post in site.posts %}
	    	{% if post.categories[0] == "android" %}
	      <h2><a class="post-heading" href="{{ post.url }}">{{ post.title }}</a></h2>
	      <p> {{ post.description }} </p>
	      <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
	      {% endif %}
	    {% endfor %}
	  </ul > -->
