---
layout: contents
title: Apart from Android/Java
description: Things related to web development.
permalink: web/
---


	 <div class="page-heading">
		 <h1>{{ page.title }}</h1>
		 <div class="page-description">
			 {{ page.description }}
		 </div>
	 </div>

<ul class="posts">
  {% for post in site.categories.web %}
    {% if forloop.first %}
			<div class="year-heading">
      	<h3>{{ post.date | date: '%Y' }}</h3>
		</div>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.previous.date | date: '%Y' }}{% endcapture %}
      {% if nyear and year != nyear %}
				<div class="year-heading">
          <h3>{{ post.date | date: '%Y' }}</h3>
			  </div>
      {% endif %}
    {% endif %}

    <div class="post-details">
			<h2>
				<a href="{{ post.url }}">{{ post.title }}</a>
				<span class="post-date">
				{{ post.date | date: '%B %d, %Y' }}
			</span>
		 </h2>
		 <div class="post-description">
			 {{ post.description }}
		 </div>
	 </div>
  {% endfor %}
</ul>
