    <ul class="profile-links">

      <li title="GitHub">
        <a target="_blank" href="https://github.com/rahulrj">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li title="LinkedIn">
        <a target="_blank" href="https://in.linkedin.com/pub/rahul-raja/59/336/57b">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li title="Stackoverflow">
        <a target="_blank" href="http://stackoverflow.com/users/3292108/diffy">
          <i class="fa fa-stack-overflow"></i>
        </a>
      </li>

      <li title="Facebook">
        <a target="_blank" href="https://www.facebook.com/rahul.raja.963">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      </ul>
