<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400|Inconsolata:400,700"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <title> {{ page.title }} </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %} -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

 </head>

  <body>
    <div class="header">
    </div>

    <div id="content">
          {{ content }}
    </div>

    <hr>

    <div class="footer">
      <div style="margin-bottom:20px;">
        <ul class="custom">

            <li>
                <a href="http://www.hackerearth.com/about/" target="_blank" class="no-color">Github</a>
                <span class="separator">&middot;</span>
            </li>
            <li>
                <a href="http://developer.hackerearth.com"
                    target="_blank" class="no-color">LiknedIn</a>
                <span class="separator">&middot;</span>
            </li>
            <li>
                <a href="http://blog.hackerearth.com" class="no-color" target="_blank">Facebook</a>
                <span class="separator">&middot;</span>
            </li>
          </ul>

        </div>
      </div>
    </body>
</html>
